@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body
{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    
}

#bloc_page
{
    display: block;
    flex-direction: column;
    align-items: center;
    
}

/* Barre de navigation */

header
{
    display: flex;
    flex-direction: column;
 background-color: #fff;
 color: black;
 padding: 0px 10px;
 font-family: 'Raleway', sans-serif;
 margin: 20px;
}

header nav
{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 40px;

}

header nav a 
{
 color:#0065FC ;
 text-decoration: none;
 margin-right: 20px;
 flex-wrap: wrap;

}

header nav a:hover
{
 color: black;   
 border-top: 1px solid #0065FC; padding-top: 30px;
}

#logo
{
    width: 80px; height: 50px;
    
}

/* debut section filtres */

header .filtres_principale 
{
background-color: #fff;

}

.Titres h1
{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}

.Titres h2
{
    color:gray;
    font-size: 1.0em;
}

input
{
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.barre_recherche i 
{
    padding: 10px;
    background-color:#DEEBFF
}

button
{
    color: #fff;
    padding: 10px;
    margin: 7px;
    background-color: #0065FC;
    border-radius: 0px 8px 8px 0px ;
    border: none;
}

.filtre

{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    color: black;
    margin-right: 25px;
    margin-top: 25px;
}

.filtre a 

{
 text-decoration: none;
 color: #000000;
 font-size: 1.0em;
 }

.filtre i 
{
    color: #0065FC;
    border-radius: 50%;
    background-color:#C7C5C5 ;
    border: 1px solid #C7C5C5;
    padding: 10px;
    margin: 0px;
    
}


.les_filtres
{
    margin-right: 20px;
    border-radius: 25px;
    border: 1px solid #F2F2F2 ;
}

.les_filtres, a 
{
    margin-right: 20px;
    padding: 0px;
}

#info
{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 5px;
}

#info i
{
    color: #0065FC;
    background-color: #fff;
    border-radius:100%;
    border: 1px solid #F2F2F2;
    padding: 10px;

}

.le_titre, a 
{
    margin-top: 10px;
}
/* Fin du header ////////////////////////////// */

/* Section hébergement //////////////////////// */

.main
{
    
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 40px;
}

.section_hebergement
{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 1000px;
    height: 750px;
    margin-bottom: 50px;
    border-radius: 5%;
    margin-right: 20px;
}

.titre_hebergement
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    font-size: 1em;
    justify-content: flex-start;
    margin-left: 50px;
}
.carte
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: center;
}

.premiere_ligne
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 10px;
}

.card 
{
    margin-right: 20px;
    border: 5px solid #fff ;
    border-radius: 10%;
    background-color: #fff;
    
}

.photo
{
    width: 270px;
    height: 150px;
    border-radius: 10%;

    border-bottom-left-radius:0%;
    border-bottom-right-radius: 0%;
}
.card_header
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    justify-content: flex-start;
    margin-left: 5px;
}

.card_body
{
    margin-left: 5px;
}

.titre_photo
{
    font-size: 0.90em;
}

.price 
{
    font-size:  0.80em;
}

.etoile_bleu
{
    font-size: 9px;
    color:#0065FC;
}

.etoile_gris
{
    font-size: 9px;
    color: #C7C5C5;
}

.deuxieme_ligne
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 10px;
    
}

.card_footer
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    justify-content: flex-start;
    font-size: 0.90em;
    margin-left: 50px;
    
}

/* fin hebergement*/


/*debut aside*/


aside
{
    background-color:#F2F2F2;
    width: 500px;
    height: 750px;
    border-radius: 5%;
    margin-left: 10px;
    
}

.header_de_aside
{
    display: flex;
    flex-direction: row;
    color: #000000;
    font-family: 'Raleway' sans-serif;
    font-size: 1em;
    margin-left: 25px;
}

.la_courbe
{
    margin-top: 22px;
    margin-left: 90px;
}

.le_titre_photo
{
    font-size: 0.90em;
}

.card_container
{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 3px solid #fff; 
    border-radius: 5%;
    background-color: #fff;
    
}

.carte_populaire
{
    margin-top: 27px;
}

.la_photo
{
    width: 160px;
    height: 182px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    

}

.small_container
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}


/*Fin aside*/

/*début de la section acrivité*/

.activites
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px;
    justify-content: space-between;
    background-color: #fff;

}

.titre_activites
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    justify-content: flex-start;
    font-size: 0.90em;
}

.activites_card
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.first_group
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.second_group
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.grande_image
{
    margin-right: 15px;
    border: 1px solid #DEEBFF;
    border-bottom-left-radius:0%;
    border-bottom-right-radius: 0%;

}

.grande_photo
{
    height: 455px;
    width: 345px;
    border-radius: 10px;
    border-bottom-left-radius:0%;
    border-bottom-right-radius: 0%;
}



.petite_images
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
}

#pomegues_container
{
    
    box-shadow: 10px #DEEBFF; 
    border-radius: 5%;
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: 0px 5px #EBEBEB;

}

.la_pomegues
{
    width: 345px;
    height: 225px;
    box-shadow: 20px black;
    border-radius: 10px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}


#frioul_container
{
    
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 0px 5px #EBEBEB;
    
    
}

#photo_du_frioul
{
    
    border-radius: 10px;
    height: 112,5px;
    width: 350px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    
}

.grande_image_gauche
{

    border-radius: 10px;
    box-shadow: 0px 5px #EBEBEB;

}

.grande_image_droit
{

    border-radius: 10%;
    box-shadow: 0px 5px #EBEBEB;
}



.photo_header
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    justify-content: flex-start;
    font-size: 0.70em;
    margin-left: 10px;
}

.notre_dame
{
    height: 180px;
    width: 345px;
    border-radius: 10px;
    border-bottom-left-radius:0%;
    border-bottom-right-radius: 0%;

}

.longchamp
{
    height: 180px;
    width: 345px;
    border-radius: 10%;
    border-bottom-left-radius:0%;
    border-bottom-right-radius: 0%;

}

.haut
{
    
    border-radius: 10px;
    box-shadow: 0px 5px #EBEBEB;
    
}

.bas
{
    
    border-radius: 10px;
    box-shadow: 0px 5px #EBEBEB;
    
    
}



/* Fin de la section activités*/

/* Début du footer*/

footer
{
    background-color: #F2F2F2;
    color: #000000;
    padding: 30px 10px;
    font-family: 'Raleway', sans-serif;
    
    margin-top: 100px;
    

}

footer .pieds_pages
{
    display: flex;
    flex-wrap: wrap;

}

footer .pieds_pages .pieds_page
{
    margin-right: 50px;
    padding: 10px;
    font-size: 12px;
}

@media screen and (max-width:1024px)
{
    #bloc_page
    {
        width: auto;
    }

    .main
    {
        width: auto;
        display: block;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
}



    

    
        





