@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body
{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* Barre de navigation */

header
{
 background-color: #fff;
 color: black;
 padding: 0px 10px;
 font-family: 'Raleway', sans-serif;
 

}

header nav
{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 20px;

}

header nav a 
{
 color:#0065FC ;
 text-decoration: none;
 margin-right: 10px;

}

header nav a:hover
{
 color: black;   
 border-top: 1px solid #0065FC; padding-top: 10px;
}

#logo
{
    width: 80px; height: 50px;
    
}

/* debut section filtres */

header .filtres_principale 
{
background-color: #fff;

}

.Titres h1
{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}

.Titres h2
{
    color:gray;
    font-size: 1.0em;
}

input
{
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.barre_recherche i 
{
    padding: 10px;
    background-color:#DEEBFF
}

button
{
    color: #fff;
    padding: 10px;
    margin: 7px;
    background-color: #0065FC;
    border-radius: 0px 8px 8px 0px ;
    border: none;
}

.filtre

{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    color: black;
    margin-right: 25px;
    margin-top: 25px;
}

.filtre a 

{
 text-decoration: none;
 color: #000000;
 font-size: 1.0em;
 }

.filtre i 
{
    color: #0065FC;
    border-radius: 50%;
    background-color:#DEEBFF ;
    border: 1px solid #DEEBFF;
    padding: 10px;
    margin: 0px;
    
}


.les_filtres
{
    margin-right: 20px;
    border-radius: 25px;
    border: 1px solid #C7C5C5 ;
}

.les_filtres, a 
{
    margin-right: 20px;
    padding: 0px;
}

#info
{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 5px;
}

#info i
{
    color: #0065FC;
    background-color: #fff;
    border-radius:50%;
    border: 1px solid #C7C5C5;
    padding: 10px;

}

.le_titre, a 
{
    margin-top: 10px;
}
/* Fin du header*/

/* Début du corps de la page */

.main
{
    margin: 10px;
    margin-top: 20;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.section_hebergement
{
    background-color: #DEEBFF;
    width: 800px;
    height: 650px;
}

.titre_hebergement
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    font-size: 1em;
    justify-content: flex-start;
}
.carte
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.premiere_ligne
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 10px;
}

.card 
{
    margin-right: 10px;
}

img
{
    width: 200px;
    height: 100px;
}
.card_header
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    justify-content: flex-start;
}

.titre_photo
{
    font-size: 0.90em;
}

.price 
{
    font-size:  0.80em;
}

.etoile_bleu
{
    font-size: 9px;
    color:#0065FC;
}

.etoile_gris
{
    font-size: 9px;
    color: #C7C5C5;
}

.deuxieme_ligne
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 10px;
    
}

.card_footer
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    justify-content: flex-start;
    font-size: 0.90em;
    
}

aside
{
    background-color: #DEEBFF;
    width: 700px;
    height: 650px;
}

.header_de_aside
{
    display: flex;
    flex-direction: row;
    color: #000000;
    font-family: 'Raleway' sans-serif;
    font-size: 1em;
}

.la_courbe
{
    margin-top: 22px;
    margin-left: 90px;
}

.le_titre_photo
{
    font-size: 0.90em;
}

.card_container
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
}

.la_photo
{
    width: 120px;
    height: 150px;

}

.small_container
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.activites
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.titre_activites
{
    color: #000000;
    font-family: 'Raleway' sans-serif;
    justify-content: flex-start;
    font-size: 0.90em;
}

.activites_card
{
    display: flex;
    flex-direction: row;
    
}

.first_group
{
    display: flex;
    flex-direction: row;
    

}











  
/* Fin du corps de page*/

/* Début du footer*/

footer
{
    margin-top: 40px;
    background-color: #DEEBFF;
    color: #000000;
    padding: 30px 10px;
    font-family: 'Raleway', sans-serif;

}

footer .pieds_pages
{
    display: flex;
    flex-wrap: wrap;

}

footer .pieds_pages .pieds_page
{
    margin-right: 50px;
    padding: 10px;
    font-size: 12px;
}





